.testContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;

  margin-inline: auto;
  border-radius: 10px;
}

.adminContainer {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}

.kameradContainer {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid black;
}

.kamerad-container-id {
  display: flex;
}

.kamerad-container-id img {
  border-radius: 20px;
  object-fit: cover;
}

.kamerad-idx {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.kmrdjdl {
  font-family: poppins;
  font-weight: bold;
}

.kmrdnm {
  font-family: poppins;
  font-weight: bold;
  margin-bottom: 20px;
}

.kmrdcrt {
  font-family: poppins;
  margin-bottom: 20px;
}

.admin-navbar a {
  padding-right: 40px;
  text-decoration: none;
  color: rgb(9, 9, 115);
  text-align: center;
  font-family: poppins;
}

.admin-navbar a:hover {
  color: blue;
}

.admin-navbar {
  width: 1280px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-block: 20px;
}

.deleteButton button {
  border: 2px solid red;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 128, 0);
  color: red;
}

.deleteButton button:hover {
  cursor: pointer;
  color: rgb(252, 81, 81);
  border: 2px solid rgb(242, 98, 98);
}

.formadmincontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
  font-family: poppins;
  border-radius: 5px;
}

.formadmin {
  display: flex;
  flex-direction: column;
}

.formbutton {
  width: 300px;
  margin: 20px auto 10px auto;
  font-family: poppins;
  padding-block: 4px;
  background-color: greenyellow;
  border-radius: 7px;
  background-color: rgb(50, 190, 59);
}

.formbutton:hover {
  cursor: pointer;
  background-color: rgb(16, 88, 38);
}

.formbutton2 {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 50px;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 89%;

  background: #95e1d3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  width: 140px;
  height: 40px;
  /* or 21px */
  border: none;

  color: #28385e;
}

.formbutton2:hover {
  cursor: pointer;
  background: #28385e;
  color: #95e1d3;
  transform: scale(1.1);
}

.formik {
  outline: none;
  border-radius: 3px;
  background-color: aliceblue;
  font-family: poppins;
  font-size: small;
}

.formtitle {
  font-weight: bold;
  font-size: 25px;
  font-family: poppins;
}

.image_preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 800px;
  padding-inline: 20px;
  padding-block: 30px;
  gap: 15px;
  min-height: 225px;

  background: #d9d9d9;
}

.image_preview img {
  height: 50px;
  width: auto;
}

.image_upload_container {
  margin-top: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  /* or 167% */

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  color: #28385e;
}

.image_upload_container p {
  font-weight: 400;
}

.imageinputbutton {
  font-weight: 400;
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-top: 20px;
  margin-right: 50px;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 89%;

  background: #95e1d3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  width: 140px;
  height: 40px;
  /* or 21px */
  border: none;

  color: #28385e;
}

@media screen and (max-width: 500px) {
  .image_preview {
    width: 80vw;
  }

  .image_upload_container {
    width: 80vw;
  }

  .image_upload_container h1 {
    font-size: 20px;
  }
}


.barloadingcompress {
  margin-top: 20px;
  z-index: 9999;
  background-color: aqua; 
  border: 3px solid black ;
  border-radius: 10px;
  text-align: center;
}