.testContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-inline: auto;
  border-radius: 10px;
}

.adminContainer {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}

.kameradContainer {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid black;
}

.kamerad-container-id {
  display: flex;
}

.kamerad-container-id img {
  border-radius: 20px;
  object-fit: cover;
}

.kamerad-idx {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.kmrdjdl {
  font-family: poppins;
  font-weight: bold;
}

.kmrdnm {
  font-family: poppins;
  font-weight: bold;
  margin-bottom: 20px;
}

.kmrdcrt {
  font-family: poppins;
  margin-bottom: 20px;
}

.admin-navbar a {
  padding-right: 40px;
  text-decoration: none;
  color: rgb(9, 9, 115);
  text-align: center;
  font-family: poppins;
}

.admin-navbar a:hover {
  color: blue;
}

.admin-navbar {
  width: 1280px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-block: 20px;
}

.deleteButton button {
  border: 2px solid red;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 128, 0);
  color: red;
}

.deleteButton button:hover {
  cursor: pointer;
  color: rgb(252, 81, 81);
  border: 2px solid rgb(242, 98, 98);
}

.formadmincontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
  font-family: poppins;
  border-radius: 5px;
}

.formadmin {
  display: flex;
  flex-direction: column;
}

.formbutton {
  width: 300px;
  margin: 20px auto 10px auto;
  font-family: poppins;
  padding-block: 4px;
  background-color: greenyellow;
  border-radius: 7px;
  background-color: rgb(50, 190, 59);
}

.formbutton:hover {
  cursor: pointer;
  background-color: rgb(16, 88, 38);
}

.formbutton2 {
  width: 300px;
  margin: 20px auto 10px auto;
  font-family: poppins;
  padding-block: 4px;
  background-color: rgb(50, 190, 59);
  border-radius: 7px;
  border: 1px solid rgb(90, 90, 90);
}

.formbutton2:hover {
  cursor: pointer;
  background-color: rgb(16, 88, 38);
}

.formik {
  outline: none;
  border-radius: 3px;
  background-color: aliceblue;
  font-family: poppins;
  font-size: small;
}

.formtitle {
  font-weight: bold;
  font-size: 25px;
  font-family: poppins;
}
