.UHIMap-container {
  height: calc(100vh - 58px);
  /* border: 3px solid red; */
  display: flex;
}

/* .UHIMap-container::-webkit-scrollbar {
  display: none;
} */

.UHIMap-Legend-container {
  flex: 0 0 400px;
  box-shadow: 5px 0px -2px 2px rgba(0, 0.4, 0, 0);
  z-index: 3;
  position: relative;
  /* border: 3px solid red; */
  /* width: 400px; */
  /* margin: 25px; */

  overflow-y: scroll;
}

.UHILegend-container {
  margin: 25px;
}

.UHIMap-map-container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}

.UHI-title {
  text-align: justify;
}

.UHI-title h1 {
  font-family: montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 111%;
  color: #000000;
  padding-bottom: 8px;
}

.UHI-title h3 {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 111%;
  color: #000000;
  padding-bottom: 5px;
}

.UHI-title h4 {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
}

.UHI-title h2 {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 60px;
  text-align: justify;
  color: #f54d42;
}

.UHIparameter-container {
  height: 370px;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 3px solid red; */
}

.imp-night-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NDVI-antro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* impsur */
.impsur-container {
  width: 140px;
  height: 180px;
  background: #ff718b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 5px;
}

.impsur-container img {
  width: 38px;
  height: 35px;
  /* margin-top: -20px; */
  margin-bottom: 18px;
  /* border: 3px solid red; */
}

.impsur-container h3 {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.impsur-container h2 {
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 118.5%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 18px;
}
/* impsur end */

/* nightlight */
.nightlight-container {
  width: 140px;
  height: 180px;
  background: #fce38a;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-inline: 5px;
}

.nightlight-container img {
  width: 24px;
  height: 26px;
  margin-top: 25px;
  margin-bottom: 20px;
  /* border: 3px solid red; */
}

.nightlight-container h3 {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  /* margin-top: ; */
}

.nightlight-container h2 {
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 118.5%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 20px;
}
/* nightlight end */

/* NDVI */
.NDVI-container {
  width: 140px;
  height: 180px;
  background: #95e1d3;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-inline: 5px;
}
.NDVI-container img {
  width: 38px;
  height: 38px;
  margin-top: 20px;
  margin-bottom: 19px;
  /* border: 3px solid red; */
}

.NDVI-container h3 {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.NDVI-container h2 {
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 118.5%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 18px;
}
/* NDVI end */

/* antro */
.antro-container {
  width: 140px;
  height: 180px;
  background: #ff8356;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-inline: 5px;
}

.antro-container img {
  width: 33px;
  height: 33px;
  margin-top: 20px;
  margin-bottom: 22px;
  /* border: 3px solid red; */
}

.antro-container h3 {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.antro-container h2 {
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 118.5%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 1px;
}
/* antro end */

.UHIinfo-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.UHIinfo-container h1 {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.UHIKeterangan-container {
  display: flex;
  justify-content: space-between;
  /* border: 3px solid red; */
  margin-right: 40px;
}

.UHIKeterangan-judul {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.UHIKeterangan-content {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-align: end;
}

.UHIFooter-container {
  display: flex;
  flex-direction: column;
  background: #2b3245;
  /* border: 3px solid red; */
}

.UHIFooter-element-container {
  display: flex;
  flex-direction: row;
  /* border: 3px solid red; */
  justify-content: space-around;
  padding-inline: 50px;
  padding-top: 25px;
}

.UHIFooter-about-us-container {
  display: flex;
  flex-direction: column;
}

.UHIFooter-about-us-container img {
  width: 60px;
  height: 60px;
}

.UHIFooter-about-us-container p {
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 118.5%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #f5f5f5;
  padding-top: 10px;
}

.UHIFooter-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.UHIFooter-contact p {
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 118.5%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #f5f5f5;
}

.UHIFooter-contact-logo {
  display: flex;
  flex-direction: column;
  /* border: 3px red solid; */
  width: 70px;
  height: 55px;
  justify-content: space-around;
}

.UHIFooter-fb-linkedin {
  /* border: 3px solid red; */
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.UHIFooter-fb-linkedin img {
  width: 22px;
  height: 22px;
}

.UHIFooter-ig-wa {
  /* border: 3px solid red; */
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.UHIFooter-ig-wa img {
  width: 22px;
  height: 22px;
}

.UHIFooter-line {
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0 auto;
}

.UHIFooter-copyright {
  text-align: center;
  font-family: opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 118.5%;
  letter-spacing: 0.05em;
  color: #e5e5e5;
  padding-bottom: 20px;
}
