.top-section-container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.top-section-container p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  max-width: 1100px;

  color: #000000;
}

.top-section-container h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.35em;
  color: #273b4a;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -85px;
  margin-bottom: 15px;
}
.top-section-container img {
  max-width: 500px;
}

.section-container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.urban2 {
  max-width: 800px;
  margin-top: 350px;
}

.urban2-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
  text-align: right;
  color: #000000;

  margin-left: -85px;
  margin-right: 85px;
}

.desc-text-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
  margin-bottom: -50px;
}

.desc-text-container p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  width: 350px;
  color: #000000;
  margin-left: 50px;
}

.bar {
  position: absolute;
  width: 151px;
  height: 1926px;
  left: 119px;
  top: 869px;
  z-index: -1;

  background: #d4e6e7;
}

.section-container h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;

  color: #000000;
}

.spark {
  position: absolute;
  left: -5px;
  top: 2181.56px;

  transform: rotate(-19.56deg);
}

.pills {
  position: absolute;
  left: 128.4px;
  top: 2354px;

  transform: rotate(19deg);
}

.cane {
  position: absolute;
  left: -5px;
  top: 2462.44px;

  transform: rotate(-27.38deg);
}

.logo3 {
  position: absolute;
  right: 30px;
  top: 10px;
}
