.top-section-container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  position: relative;
}

.top-section-container p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  max-width: 900px;

  color: #000000;
}

.top-section-container h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.35em;
  color: #273b4a;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -85px;
  margin-bottom: 15px;
}
.top-section-container img {
  max-width: 500px;
}

.section-container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.urban2 {
  max-width: 800px;
  margin-top: 350px;
}

.urban2-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
  text-align: right;
  color: #000000;

  margin-left: -85px;
  margin-right: 85px;
}

.desc-text-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
  margin-bottom: -50px;
}

.desc-text-container p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  width: 350px;
  color: #000000;
  margin-left: 50px;
}

.bar {
  position: absolute;
  width: 151px;
  height: 270vh;
  left: 75px;
  top: 120vh;
  z-index: -1;

  background: #d4e6e7;
}

.section-container h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;

  color: #000000;
}

.spark {
  position: absolute;
  left: -40px;
  top: 50px;
}

.pills {
  position: absolute;
  left: 97.4px;
  top: 210px;
}

.cane {
  position: absolute;
  left: -40px;
  top: 320px;
}

.logo3 {
  position: absolute;
  right: 30px;
  top: 10px;
}

.impact_box {
  width: 260px;
  height: 170px;
  padding-left: 20px;

  background: #edf6f5;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.impact_box p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  width: 230px;

  color: #000000;
}
.impact_box img {
  height: 88px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.impact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section2-container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding-left: 300px;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 40px;
}

.section2-container h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;

  color: #000000;
}

.impact_box h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  width: 120px;

  color: #000000;
}
