body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 101;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.close-modal:hover {
  cursor: pointer;
}

.modal-content-formscreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  width: 60vw;
  height: 80vh;
  z-index: 101;
  border-radius: 25px;
  padding-left: 40px;
  padding-top: 50px;

  font-size: 0.9rem;

  background: var(--aquaSparkle);
  font-family: "Poppins";
}

.modal-content-formscreen h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 89%;
  /* or 36px */

  text-align: center;

  color: #28385e;
}

.modal-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.modal-button-container .formbutton2 {
  font-size: 15px;
}
