.nav-container {
  background: #2f6569;
}

.nav-element {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  align-items: center;
  margin: 0 auto;
  padding: 8px 5px 8px 0px;
}

.geoloka-logo-container img {
  display: flex;
  height: 52px;
  /* width: 42px; */
  align-items: center;
  justify-content: flex-start;
}

.link-container a {
  /* border: 3px solid red; */
  padding-left: 29px;
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #f5f5f5;
  text-decoration: none;
}

.menuVisible {
  display: inline-block;
  top: 91px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  gap: none;
  position: absolute;
}

.menuVisible a {
  height: 45px;
  width: 100vw;
  background: #2f6569;
  align-items: center;
  justify-content: center;

  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #f5f5f5;
  text-decoration: none;

  border-top: 0.25px solid rgba(223, 222, 222, 0.913);
  padding-top: 12.5px;
}

.burgermenu {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.burgerbar {
  width: 2em;
  height: 0.25em;
  background-color: white;
  border-radius: 0.5em;
}

.menu {
  width: 50%;
  height: 100vh;
  background-color: rgb(154, 181, 240);
  position: absolute;
  top: 0;
  z-index: -1;
}

.menuHidden {
  display: none;
}

/* ------------- sliding menu ------------------ */
.hidden {
  display: none;
}

.visible {
  display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burgerbar2 {
  width: 2em;
  height: 0.25em;
  background-color: white;
  border-radius: 0.5em;
}

.burgerbar2:nth-child(1) {
  transform: translate(0, 11.5px) rotate(45deg);
  transition: ease-out 0.5s;
}

.burgerbar2:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burgerbar2:nth-child(3) {
  transform: translate(0, -12.5px) rotate(135deg);
  transition: ease-out 0.5s;
}

.burgerbarunclicked {
  width: 2em;
  height: 0.25em;
  background-color: white;
  border-radius: 0.5em;
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.containeractive {
  position: fixed;
  z-index: 100;

  width: 100vw;
  font-family: jakarta;
  overflow-x: hidden;
  background: #4b8579;
}

.nav {
  width: 30px;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  align-items: center;
  padding-right: 25px;
}

@media screen and (max-width: 500px) {
  .nav-element {
    justify-content: space-between;
    max-width: 100vw;
    padding-inline: 30px;
    max-height: 150px;
  }
}
