/* Default Settings */
html,
body {
  margin: 0px;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #6a6a6a #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #989898;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

/* Default Settings End */
/* Setting up fonts */
@font-face {
  font-family: montserrat;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: opensans;
  src: url(./fonts/OpenSans-Regular.ttf);
}
/* Setting up fonts End */
