/* Default Settings */
html,
body {
  margin: 0px;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* Default Settings End */
/* Setting up fonts */
@font-face {
  font-family: montserrat;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: opensans;
  src: url(./fonts/OpenSans-Regular.ttf);
}
/* Setting up fonts End */
