.question_container {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
  color: #000000;
  display: flex;
  /* border: 3px red solid; */
  width: 800px;
  padding: 0px 15px;
  padding-block: 30px;
  padding-inline: 20px;
  border-radius: 25px;
  padding-left: 40px;

  background: var(--aquaSparkle);
}

.title_container {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 20px;
  text-align: center;
  color: #28385e;
  /* border: 3px red solid; */
  width: 800px;

  border-radius: 25px;
  padding-block: 30px;
  margin-bottom: 30px;
  background: var(--aquaSparkle);
}
.form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.options_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.submit_button {
  width: 497px;
  height: 61px;
  margin: 0 auto;
  margin-block: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 89%;

  user-select: none;
  cursor: pointer;
  background: #ffcd00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
}

.submit_button_disable {
  width: 497px;
  height: 61px;
  margin: 0 auto;
  margin-block: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 89%;

  user-select: none;
  cursor: pointer;
  background: #dcdcdc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
}

.submit_button:hover {
  background: #ed9c06;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  transform: scale(1.05);
}

.decor {
  display: flex;
  flex-direction: column;
  gap: 350px;

  z-index: -1;
}

.decor img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .question_container {
    width: 80vw;
    padding: 0px 15px;
    padding-block: 30px;
    padding-inline: 20px;
    border-radius: 25px;
    padding-left: 40px;
  }

  .question_container#quiz {
    width: 80vw;
    padding: 0px 15px;
    padding-block: 30px;
    padding-inline: 20px;
    border-radius: 25px;
    padding-left: 40px;
  }

  .title_container {
    width: 80vw;
    font-size: 1.5rem;
  }

  .submit_button {
    width: 80vw;
    font-size: 1rem;
  }
}
